* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body {
    background: #333;
}

.container {
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    background: rgb(44,0,255);
    background: linear-gradient(135deg, rgba(44,0,255,.5) 0%,
                rgba(255,0,0,.5) 100%);
    color: white;
    padding: 40px 35px;
    margin: 50px auto 10px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    border: 0;
    outline: 0;
    background: #befffc;
    padding: 10px 25px;
    height: 50px;
    color: #555;
    flex: 1;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 30px; 
}

.search button {
    border: 0;
    outline: 0;
    background: #befffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 15px;
    font-size: 2em;
}
.weather-icon {
    width: 150px;
    margin-block: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 0 20px;
    margin-top: 20px;   
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}
.line {
    height: 30px;
    width: 2px;
    background: #ffffff;
    margin-inline: 15px;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity .wind {
    font-size: 28px;
    margin-top: -10px;
}

.error {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: red;
    display: none;
}
